body {
  background-color: hsl(56, 9%, 78%);
  color: hsl(56, 9%, 25%);
  font-size: 16px;
  line-height: 140%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

wrapper {
  display: block;
  max-width: 500px;
  background-color: hsl(56, 9%, 90%);
  padding: 40px;
  margin: 20px auto;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
}

h1 {
  font-size: 24px;
  background-color: white;
  padding: 16px 0 8px 4px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.feature-image {
  max-width:inherit;
}
